@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Landing Section */

.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__right__content,
.About__ReadMore__Img {
  @apply w-4/5 rounded-lg pr-10;
  perspective: 700px;
}

.landing__right__content img {
  @apply rounded-3xl border-4 border-blue-600;
  transform: rotateY(-20deg);
}

.landing__left__content__title {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}

.landing__left__content {
  @apply w-4/5;
}

.landing__left__content__title span {
  @apply px-2 py-1;
  color: #000;
  background-color: rgb(255, 208, 0);
}

.landing__left__content__button__getAQuote {
  @apply border-blue-500 text-white bg-blue-500 mt-6 hover:cursor-pointer px-5 py-2 rounded-md;
}

/* About Section */

.About__container {
  @apply mx-auto;
}

.About__title {
  @apply text-4xl font-bold text-center mt-24 mb-10;
}

.About__description {
  @apply text-center w-1/3 mb-12 flex justify-center items-center;
}

/* About cards */
.About__cards {
  @apply flex justify-center gap-5 w-full;
}

.About__card {
  @apply w-1/4 m-4 p-4 rounded-lg shadow-lg;
}

.About__card__image {
  @apply w-full h-64 rounded-lg flex justify-center items-center;
}

.About__card__image img {
  @apply w-3/4 h-3/4 rounded-lg;
}

.About__card__content {
  @apply w-full mt-4;
}

.About__card__content__title {
  @apply text-2xl font-bold text-center;
}

.About__card__content__description {
  @apply text-lg text-center;
}

/* Read More section */
.About__ReadMore {
  @apply flex my-52;
}

.About__ReadMore__Img {
  @apply w-1/2 flex justify-center items-center pl-[200px] z-10;
}

.About__ReadMore__Img img {
  @apply w-[120%] rounded-3xl border-4 border-blue-600;
  transform: rotateY(20deg);
}

.About__ReadMore__Content {
  @apply w-1/2 relative flex  justify-center items-center pr-[400px]  flex-col;
  perspective: 700px;
}

.About__ReadMore__Content h1 {
  @apply text-3xl font-semibold mb-10;
}

.About__ReadMore__Content::before {
  content: "";
  @apply h-[120%] shadow-2xl w-[850px] rounded-2xl absolute bg-blue-300 top-[-23px] left-[-25%] z-0;
  transform: rotateY(-10deg);
}
